<div class="carcard">
  <div class="card" style="width: 30rem;">
    <img src="{{carImageLink}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{car.brandName}} {{car.description}}</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <div class="card" style="width: 18rem;">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Price: {{car.dailyPrice}}</li>
          <li class="list-group-item">Model Year: {{car.modelYear}}</li>
          <li class="list-group-item">Color: {{car.colorName}}</li>
        </ul>
      </div>
    </div>
</div>
</div>
