<ul class="list-group">
    <li (click)="setSelectedCategory(classes[0])" [class]=setClass(classes[0]) routerLink="/cars">{{classes[0]}}</li>
    <li (click)="setSelectedCategory(classes[1])" [class]=setClass(classes[1]) routerLink="/rentals">{{classes[1]}}</li>
    <li (click)="setSelectedCategory(classes[2])" [class]=setClass(classes[2]) routerLink="/customers">{{classes[2]}}</li>
    <li (click)="setSelectedCategory(classes[3])" [class]=setClass(classes[3]) routerLink="/colors">{{classes[3]}}</li>
    <li (click)="setSelectedCategory(classes[4])" [class]=setClass(classes[4]) routerLink="/brands">{{classes[4]}}</li>
  </ul>